@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html, body{
    font-size: 20px;
    background: #fffefe;
    font-family: 'Poppins', sans-serif;
    line-height: 3.2;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}

ul{
    list-style-type: none;
}

.navbar {
    background:#fff ;
    padding: 1rem 1em;
    height: 0 rem;
    min-height: 10vh;
}

.navbar .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.navbar-toggler{
    background: #e74c3c;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}

.nav-item{
    margin-left:60px;
}